html
                 {  
           margin             0;
           padding:           0;
           }

body 
                 {
           font:              75% georgia, sans-serif;
           line-height:       1.88889;
           color:             #555753;
           background:        #ffffff url(iof.jpg) no-repeat top left;
           margin:            0;
           padding:           0;
           }
h1
                 {
           font:              georgia, sans-serif;
           color:             #e04040;
           }

div.Header
                 {
           box-align:         center;
           }